 {% load static %}

 <footer class="page-footer blue darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text" id="contact">Contact Us</h5>
              <p class="grey-text text-lighten-4">Have a question about the dojo?</p>
              <p>Feel free to <a href="mailto:dcpydojo@gmail.com">email us</a>, get in touch with us <a href="http://twitter.com/dcpydojo">on Twitter</a>, or check us out <a href="http://github.com/dcpydojo">on Github</a>!</p>
              <p>But better yet, why not come to our next dojo to see what it's all about? We hope to see you there!</p>

          </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                {% include 'nav-bar-items.html' %}
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          No Copyright
          </div>
        </div>
</footer>