<!-- Navigation BAR -->

  <nav>
    <div class="nav-wrapper blue darken-3">
      <a href="#" class="brand-logo">DC Python Dojo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        {% include 'nav-bar-items.html' %}

      </ul>
      <ul class="side-nav" id="mobile-demo">
        
        {% include 'nav-bar-items.html' %}
      </ul>
    </div>
  </nav>


<!-- END Navigation Bar -->